<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Neucha&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>smovzhi2018</title>
</head>
<body>

<div class="loader">
    <div class="dank-ass-loader">
        <div class="row">
            <div class="arrow up outer outer-18"></div>
            <div class="arrow down outer outer-17"></div>
            <div class="arrow up outer outer-16"></div>
            <div class="arrow down outer outer-15"></div>
            <div class="arrow up outer outer-14"></div>
        </div>
        <div class="row">
            <div class="arrow up outer outer-1"></div>
            <div class="arrow down outer outer-2"></div>
            <div class="arrow up inner inner-6"></div>
            <div class="arrow down inner inner-5"></div>
            <div class="arrow up inner inner-4"></div>
            <div class="arrow down outer outer-13"></div>
            <div class="arrow up outer outer-12"></div>
        </div>
        <div class="row">
            <div class="arrow down outer outer-3"></div>
            <div class="arrow up outer outer-4"></div>
            <div class="arrow down inner inner-1"></div>
            <div class="arrow up inner inner-2"></div>
            <div class="arrow down inner inner-3"></div>
            <div class="arrow up outer outer-11"></div>
            <div class="arrow down outer outer-10"></div>
        </div>
        <div class="row">
            <div class="arrow down outer outer-5"></div>
            <div class="arrow up outer outer-6"></div>
            <div class="arrow down outer outer-7"></div>
            <div class="arrow up outer outer-8"></div>
            <div class="arrow down outer outer-9"></div>
        </div>
    </div>
</div>

<header id="header" class="header">
    <div id="container" class="surface-shader">
        <div id="output" class="surface-shader"></div>
    </div>
    <div class="header-bg"></div>
    <div class="header-content">
        <h1 class="text-white mb-30">Оля &amp; Валера</h1>
        <h3 class="header-sub-title">У нас скоро свадьба</h3>
    </div>
    <div class="save-the-date">
        <h4>Дата свадьбы</h4>
        <span class="date">15 сентября 2018</span>
    </div>
</header>

<nav class="nav navbar-scroll-to-fixed">
    <div class="nav-overlay"></div>
    <div class="container flex justify-content-between align-items-center">
        <button class="nav-button">
            <i class="fas fa-bars"></i>
        </button>
        <div class="logo">
            <div class="logo-img"></div>смовжи
        </div>
        <ul class="nav-menu">
            <li>
                <a href="#about" class="nav-item">О нас</a>
            </li>
            <li>
                <a href="#timing" class="nav-item">Тайминг</a>
            </li>
            <li>
                <a href="#about" class="nav-item">Локация</a>
            </li>
            <li>
                <a href="#about" class="nav-item">Стиль свадьбы</a>
            </li>
            <li>
                <a href="#about" class="nav-item">Инстаграм</a>
            </li>
        </ul>
    </div>
</nav>

<section id="about" class="bg-white pt-120 pb-120">
    <div class="container about-container">
        <div class="row">
            <div class="column xs-12 lg-6 pr-lg-0">
                <a class="img-hover" data-fancybox="about-gallery" href="<%= require('./img/the-groom.jpg') %>">
                    <img src="<%= require('./img/the-groom.jpg') %>" class="photo" alt="">
                </a>
            </div>
            <div class="column xs-12 lg-6 flex flex-direction-column justify-content-center pl-lg-50 pr-lg-50 mt-30 mt-lg-0">
                <h3 class="text-uppercase">Жених</h3>
                <p class="about-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, atque commodi
                    debitis est ex ipsum laborum laudantium magnam, nisi quisquam ratione reprehenderit velit.
                    Alias beatae culpa esse magni perferendis ratione?
                    Всё их оборудование и инструменты были живыми, в той или иной форме.
                </p>
                <p class="font-neucha font-25">
                    <em>- Валера</em>
                </p>
                <ul class="social">
                    <li class="social-item">
                        <a href="https://vk.com/vasmovzh" class="social-button">
                            <i class="fab fa-vk"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://plus.google.com/114615463045961128201" class="social-button font-14">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://www.instagram.com/vasmovzh" class="social-button font-18">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://t.me/vasmovzh" class="social-button font-18">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-60 mt-lg-0">
            <div class="column xs-12 lg-6 flex flex-direction-column justify-content-center pl-lg-50 pr-lg-50 text-right">
                <h3 class="text-uppercase">Невеста</h3>
                <p class="about-text">
                    Скоро стану женой! Многие давно уже ждали этого момента, и вот оно скоро свершится.
                    Хочу, чтобы праздник прошел весело и классно. В этот день я не собираюсь отсиживаться за столом и
                    буду отрыватья по полной программе, надеюсь, что вместе с вами! Так что готовьтесь.
                </p>
                <p class="font-neucha font-25">
                    <em>Оля -</em>
                </p>
                <ul class="social">
                    <li class="social-item">
                        <a href="https://t.me/vasmovzh" class="social-button font-18">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://www.instagram.com/olkafandikova" class="social-button font-18">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://plus.google.com/u/1/113582233578191324139" class="social-button font-14">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://vk.com/id135284876" class="social-button">
                            <i class="fab fa-vk"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="column xs-12 lg-6 pl-lg-0 mt-20 mt-lg-0">
                <a class="img-hover" data-fancybox="about-gallery" href="<%= require('./img/the-bride.jpg') %>">
                    <img src="<%= require('./img/the-bride.jpg') %>" class="photo" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<section id="#countdown" class="countdown" data-stellar-background-ratio="0.7">
    <div class="container">
        <div class="row">
            <div class="column xs-12 lg-5">
                <h2 class="text-white">
                    <span class="display-block font-30 mb-20">До знаменательного события</span>
                    осталось
                </h2>
            </div>
            <div class="column xs-12 lg-7">
                <div class="count-down-clock">
                    <div id="clock" class="clock"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="timing" class="bg-white pt-120 pb-120">
    <div class="container">
        <div class="text-center mb-70">
            <h2 class="title">Тайминг</h2>
            <p class="font-18 font-weight-300">
                Посмотрите план нашего мероприятия, для того чтобы вы понимали что, зачем, как и куда.
            </p>
        </div>
        <div class="row">
            <div class="column xs-12 lg-2"></div>
            <div class="column xs-12 md-6 lg-4">
                <a class="img-hover mb-20" data-fancybox="timing-gallery" href="<%= require('./img/zags.jpg') %>">
                    <img src="<%= require('./img/zags.jpg') %>" class="timing-img position-bottom" alt="">
                </a>
            </div>
            <div class="column xs-12 md-6 lg-5 pl-md-50 pr-md-50">
                <h4 class="text-uppercase">Регистрация</h4>
                <ul class="mb-15">
                    <li>
                        <i class="fas fa-map-marker-alt text-primary mr-10"></i>
                        пр. Ленина, 83
                    </li>
                    <li>
                        <i class="fas fa-clock text-primary mr-5"></i>
                        12:20-12:35
                    </li>
                </ul>
                <p class="font-18 font-weight-300">
                    Официальная регистрация брака будет проходить во Дворце Бракосочетания г. Томска
                </p>
                <a href="https://goo.gl/maps/SY13Qc64pWK2" target="_blank" class="font-18 font-weight-600">
                    На карте<i class="fas fa-arrow-right font-16 ml-5"></i>
                </a>
            </div>
        </div>
        <div class="row mt-25">
            <div class="column xs-12 lg-2"></div>
            <div class="column xs-12 md-6 lg-4">
                <a class="img-hover mb-20" data-fancybox="timing-gallery" href="<%= require('./img/akademia-2.jpg') %>">
                    <img src="<%= require('./img/akademia-2.jpg') %>" class="timing-img" alt="">
                </a>
            </div>
            <div class="column xs-12 md-6 lg-5 pl-md-50 pr-md-30">
                <h4 class="text-uppercase">Фуршет</h4>
                <ul class="mb-15">
                    <li>
                        <i class="fas fa-map-marker-alt text-primary mr-10"></i>
                        Комплекс отдыха "Академия", большой шатер
                    </li>
                    <li>
                        <i class="fas fa-clock text-primary mr-5"></i>
                        13:30-16:30
                    </li>
                </ul>
                <p class="font-18 font-weight-300">
                    Сразу после загса мы отправляемся на фуршет, где можно будет выпить, перекусить,
                    пофотографироваться и хорошо провести время
                </p>
                <a href="https://goo.gl/maps/9smhNb3ENmS2" target="_blank" class="font-18 font-weight-600">
                    На карте<i class="fas fa-arrow-right font-16 ml-5"></i>
                </a>
            </div>
        </div>
        <div class="row mt-25">
            <div class="column xs-12 lg-2"></div>
            <div class="column xs-12 md-6 lg-4">
                <a class="img-hover mb-20" data-fancybox="timing-gallery" href="<%= require('./img/akademia-3.jpg') %>">
                    <img src="<%= require('./img/akademia-3.jpg') %>" class="timing-img" alt="">
                </a>
            </div>
            <div class="column xs-12 md-6 lg-5 pl-md-50 pr-md-50">
                <h4 class="text-uppercase">Банкет</h4>
                <ul class="mb-15">
                    <li>
                        <i class="fas fa-map-marker-alt text-primary mr-10"></i>
                        Комплекс отдыха "Академия", беседка банкетная
                    </li>
                    <li>
                        <i class="fas fa-clock text-primary mr-5"></i>
                        16:30-00:00
                    </li>
                </ul>
                <p class="font-18 font-weight-300">
                    Рядом с шатром расположена беседка, в которой будет проходить банкетная часть,
                    где мы сможем от души повеселиться
                </p>
                <a href="https://goo.gl/maps/9smhNb3ENmS2" target="_blank" class="font-18 font-weight-600">
                    На карте<i class="fas fa-arrow-right font-16 ml-5"></i>
                </a>
            </div>
        </div>
        <div class="row mt-25">
            <div class="column xs-12 lg-2"></div>
            <div class="column xs-12 md-6 lg-4">
                <a class="img-hover mb-20" data-fancybox="timing-gallery" href="<%= require('./img/akademia-4.jpg') %>">
                    <img src="<%= require('./img/akademia-4.jpg') %>" class="timing-img" alt="">
                </a>
            </div>
            <div class="column xs-12 md-6 lg-5 pl-md-50 pr-md-50">
                <h4 class="text-uppercase">Второй день</h4>
                <ul class="mb-15">
                    <li>
                        <i class="fas fa-map-marker-alt text-primary mr-10"></i>
                        Комплекс отдыха "Академия", беседка №2
                    </li>
                    <li>
                        <i class="fas fa-clock text-primary mr-5"></i>
                        13:00-20:00
                    </li>
                </ul>
                <p class="font-18 font-weight-300">
                    В более рассабленной обстановке отметим второй день, доедим и допьем все,
                    что останется с банкета, и конечно же пожарим шашлыки
                </p>
                <a href="https://goo.gl/maps/9smhNb3ENmS2" target="_blank" class="font-18 font-weight-600">
                    На карте<i class="fas fa-arrow-right font-16 ml-5"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="map" class="section-map">
    <div class="container text-center">
        <h2 class="text-white">Локация</h2>
        <p class="font-18 font-weight-300 mb-30">
            На карте комплекса "Академия" вы можете посмотреть, как пройти до нужной точки, чтобы не потеряться.
            <br>
            Думаем, что такого не случится, но так на всякий случай.
        </p>
        <a class="wedding-map-button" data-fancybox="wedding-map" href="<%= require('./img/wedding-map.jpg') %>">
            Посмотреть карту
        </a>
    </div>
</section>

<section id="weddingStyle" class="pt-120">
    <div class="container">
        <div class="text-center mb-70">
            <h2 class="title">Стиль свадьбы</h2>
            <p class="font-18 font-weight-300">Свадебное оформление, декор зала</p>
        </div>
        <p class="font-18 font-weight-300">
            Мы <strong>не настаиваем</strong>, чтобы все гости придерживались стилистики нашей свадьбы, а
            <strong>просто хотим ввести вас в курс дела</strong>. Может для кого-то это будет интересно или вдохновит
            на создание своего образа. Самое главное, чтобы вы чувствовали себя комфортно и были в хорошем настроении!
        </p>
        <p class="font-18 font-weight-300">
            <span class="font-20 font-weight-600 text-primary">Свадьба в стиле рустик</span> -
            натуральность, простота, уют. Поэтому среди главных правил оформления стоит отметить использование
            натуральных материалов (древесина, полевые цветы, сено, мешковина, ситец, лен, мох, «бабушкин инвентарь») и
            природных тонов (зеленый, кремовый, песочный, коричневый, голубой, синий, белый).
        </p>
    </div>
    <div class="wedding-style-images-grid">
        <div class="wedding-style-images-grid-row">
            <a class="img-hover big-img" data-fancybox="gallery" href="<%= require('./img/style-1.jpg') %>">
                <img src="<%= require('./img/style-1.jpg') %>" alt="">
            </a>
            <div class="wedding-style-images-grid-column">
                <div class="wedding-style-images-grid-row">
                    <a class="img-hover medium-img" data-fancybox="gallery" href="<%= require('./img/style-2.jpg') %>">
                        <img src="<%= require('./img/style-2.jpg') %>" alt="">
                    </a>
                    <a class="img-hover medium-img" data-fancybox="gallery" href="<%= require('./img/style-3.jpg') %>">
                        <img src="<%= require('./img/style-3.jpg') %>" alt="">
                    </a>
                </div>
                <div class="wedding-style-images-grid-row">
                    <a class="img-hover small-img" data-fancybox="gallery" href="<%= require('./img/style-4.jpg') %>">
                        <img src="<%= require('./img/style-4.jpg') %>" alt="">
                    </a>
                    <a class="img-hover small-img" data-fancybox="gallery" href="<%= require('./img/style-5.jpg') %>">
                        <img src="<%= require('./img/style-5.jpg') %>" alt="">
                    </a>
                    <a class="img-hover small-img" data-fancybox="gallery" href="<%= require('./img/style-6.jpg') %>">
                        <img src="<%= require('./img/style-6.jpg') %>" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="instagram" class="section-instagram bg-white pt-120 pb-120">
    <div class="container">
        <div class="text-center mb-70">
            <h2 class="title">Инстаграм</h2>
            <p class="font-18 font-weight-300">Инстаграм-конкурс, хэштеги</p>
        </div>
        <div class="row position-relative">
            <i class="fab fa-instagram icon-instagram"></i>
            <div class="column xs-12 md-7">
                <p class="font-18 font-weight-300">
                    Суть проста: выкладывайте фото, пишите посты, ставьте наши хэштеги, и 15.09.2018 мы все вместе
                    определим самого оригинального и креативного! Конечно же победитель получит приз от нас.
                    Хэштег <a href="">#свадьбасмовжей</a> будет основным, по нему будем отсматривать фото для
                    розыгрыша приза, остальные добавляейте по вашему желанию.
                </p>
                <p class="font-18 font-weight-300">
                    Профессиональные фото от фотографа придется ждать несколько месецев, но если вы примете активное
                    участие, то у нас будут множество прикольных фотографий, которые все смогут посмотреть по хэштегам.
                    Больше фото - больше воспоминаний!
                </p>
                <a href="" class="tag">#loremIpsum</a>
                <a href="" class="tag">#loremIpsum</a>
                <a href="" class="tag">#loremIpsum</a>
                <a href="" class="tag">#loremIpsum</a>
                <a href="" class="tag">#loremIpsum</a>
                <a href="" class="tag">#loremIpsum</a>
                <a href="" class="tag">#loremIpsum</a>
            </div>
            <div class="column xs-12 md-5">
                <img class="instagram" src="<%= require('./img/insta.svg') %>" alt="">
            </div>
        </div>
    </div>
</section>

<section id="contractors" class="pt-120 pb-120">
    <div class="container">
        <div class="text-center mb-70">
            <h2 class="title">Lorem</h2>
            <p class="font-18 font-weight-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
        <div class="row">
            <div class="column xs-12 lg-4">
                <div class="contractors-card">
                    <div class="contractors-img img-hover">
                        <img src="<%= require('./img/golosuckiy.jpg') %>" alt="">
                    </div>
                    <div class="contractors-body">
                        <h3 class="text-uppercase mb-5">Lorem ipsum</h3>
                        <span>Best man</span>
                        <ul class="social mt-10">
                            <li class="social-item">
                                <a href="https://vk.com/vasmovzh" class="social-button">
                                    <i class="fab fa-vk"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="https://plus.google.com/114615463045961128201" class="social-button font-14">
                                    <i class="fab fa-google"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="https://www.instagram.com/vasmovzh" class="social-button font-18">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column xs-12 lg-4">
                <div class="contractors-card">
                    <div class="contractors-img img-hover">
                        <img src="<%= require('./img/akademia-1.jpg') %>" alt="">
                    </div>
                    <div class="contractors-body">
                        <h3 class="text-uppercase mb-5">Lorem ipsum</h3>
                        <span>Best man</span>
                        <ul class="social mt-10">
                            <li class="social-item">
                                <a href="https://vk.com/vasmovzh" class="social-button">
                                    <i class="fab fa-vk"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="https://plus.google.com/114615463045961128201" class="social-button font-14">
                                    <i class="fab fa-google"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="https://www.instagram.com/vasmovzh" class="social-button font-18">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column xs-12 lg-4">
                <div class="contractors-card">
                    <div class="contractors-img img-hover">
                        <img src="<%= require('./img/kiyatkin.jpg') %>" alt="">
                    </div>
                    <div class="contractors-body">
                        <h3 class="text-uppercase mb-5">Lorem ipsum</h3>
                        <span>Best man</span>
                        <ul class="social mt-10">
                            <li class="social-item">
                                <a href="https://vk.com/vasmovzh" class="social-button">
                                    <i class="fab fa-vk"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="https://plus.google.com/114615463045961128201" class="social-button font-14">
                                    <i class="fab fa-google"></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="https://www.instagram.com/vasmovzh" class="social-button font-18">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="bg-dark-gray pt-120 pb-120">
    <div class="container text-center">
        <h2 class="text-white">Семья Смовжей</h2>
        <span class="text-white font-18 font-weight-300">Новая ячейка общества</span>
    </div>
</footer>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>

</body>
</html>