/* ===== Typography Variables ===== */

$header-line-height:        1.1 !default;
$header-weight:             normal !default;
$header-text-color:         #3e3e3e !default;

$header-font-sizes: (
  xs: (
    h1: 60,
    h2: 40,
    h3: 31,
    h4: 25,
    h5: 17,
    h6: 16,
  ),
  sm: (
    h1: 95,
    h2: 48,
    h3: 31,
    h4: 25,
    h5: 20,
    h6: 16,
  ),
) !default;