/* ===== Grig ===== */

$gutter:                 15 !default;
$columns:                12 !default;

$screen-sizes: (
  xs: 0,
  sm: 557,
  md: 768,
  lg: 1230,
) !default;

/* ===== Typography ===== */

$default-font-family:     'Fira Sans', sans-serif !default;
$default-text-color:      #767878 !default;

$body-font-family:        $default-font-family !default;
$body-font-size:          16 !default;
$body-line-height:        1.8 !default;
$body-text-color:         $default-text-color !default;
$body-background-color:   #f9f9f9 !default;
$body-font-weight:        nolmal !default;

/* ===== Colors ===== */

/* Base Colors */

$white:                   #fff !default;
$black:                   #000 !default;
$red:                     #ff4954 !default;
$yellow:                  #FBC627 !default;
$orange:                  #ff8765 !default;
$blue:                    #0facf3 !default;
$light-blue:              #54ceff !default;
$green:                   #5e9a8e !default;
$pink:                    #fe60a1 !default;
$purple:                  #8089ff !default;

/* Theme Colors */

$primary:                 $green !default;
$secondary:               $purple !default;
$default:                 #b4b7c6 !default;
$info:                    $light-blue !default;
$success:                 $green !default;
$error:                   $red !default;
$warning:                 $yellow !default;

/* Gray Colors */

$light-gray:              rgba(red($green), green($green), blue($green), .05) !default;
$medium-gray:             #dfe3e9 !default;
$dark-gray:               #BDB9BD !default;

/* Colors Map */

$colors: (
  white: $white,
  black: $black,
  red: $red,
  yellow: $yellow,
  orange: $orange,
  blue: $blue,
  light-blue: $light-blue,
  green: $green,
  pink: $pink,
  purple: $purple,
  primary: $primary,
  secondary: $secondary,
  default: $default,
  info: $info,
  success: $success,
  error: $error,
  warning: $yellow,
  light-gray: $light-gray,
  medium-gray: $medium-gray,
  dark-gray: $dark-gray
) !default;