$font-neucha:        'Neucha', cursive;
$font-fira-sans:     'Fira Sans', sans-serif;

.font-neucha {
  font-family: $font-neucha;
}

.font-fira-sans {
  font-family: $font-fira-sans;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-neucha;
}