.img-hover {
  display: block;
  position: relative;
  cursor: default;
  overflow: hidden;

  &:hover {

    &:before, &[data-fancybox]:after {
      opacity: 1;
      visibility: visible;
    }

    > img {
      transform: scale(1.1) rotate(3deg);
    }
  }

  &:before {
    content: '';
    position: absolute 0;
    z-index: 1;
    background-color: rgba(red($primary), green($primary), blue($primary), .5);
    opacity: 0;
    visibility: hidden;
    transition: .35s;
  }

  &[data-fancybox] {
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      size: 60px;
      margin-top: -30px;
      margin-left: -30px;
      background: url("../img/picture.svg") no-repeat center;
      background-size: contain;
      opacity: 0;
      visibility: hidden;
      transition: .35s;
    }
  }

  > img {
    display: block;
    transition: .35s;
  }
}