.section-instagram {
  overflow: hidden;

  .column {
    position: relative;
    z-index: 2;
  }
}

.tag {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
  font-family: $font-neucha;
  transition: .2s;
  margin-right: 30px;

  @include from-screen-size(md) {
    font-size: 52px;
  }

  &:hover {
    text-decoration: none;
    color: $body-text-color;
  }
}

.icon-instagram {
  position: absolute;
  z-index: 1;
  top: -70px;
  left: 130px;
  font-size: 430px;
  opacity: .07;

  @include from-screen-size(md) {
    left: 185px;
  }
}

.instagram {
  display: block;
  width: 100%;
  margin: 30px auto 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .15);
  border: 1px solid #eee;

  @include from-screen-size(md) {
    margin-top: 0;
  }
}