.title {
  display: inline-block;
  padding: 5px 40px;
  color: #848383;
  border-top: 2px solid rgba(red($primary), green($primary), blue($primary), 0.2);
  border-bottom: 2px solid rgba(red($primary), green($primary), blue($primary), 0.2);
  background-color: rgba(red($primary), green($primary), blue($primary), 0.1);
}