.main {
  display: flex;
  background: url("../img/wedding-card-bg.png") no-repeat center;
  background-size: auto 100%;
  min-height: 100vh;
  padding: 20px;
  line-height: 1.6;

  @include from-screen-size(md) {
    padding: 50px;
  }
}